.header {
  font-size: 70px;
  text-align: center;
  font-family: 'Cinzel Decorative', cursive;
}

.w3-quarter  {

}

#domestic1 {
  color: blue;
}
#domestic2 {
  color: green;

}

#anteater {
  font-style: italic;
}

#monkey {
  font-family: fantasy;
}

.flexed-div{
  justify-content: center;
  width: 90%;
}

img {
  height: 200px;
}
